<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>796331737687-m18sgom487l6jsj20o3c2rvi25722fkv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796331737687-m18sgom487l6jsj20o3c2rvi25722fkv</string>
	<key>API_KEY</key>
	<string>AIzaSyAosglErZhmRPW7uJiOzcH-7QAGrB34G70</string>
	<key>GCM_SENDER_ID</key>
	<string>796331737687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hiroshimamm</string>
	<key>PROJECT_ID</key>
	<string>test-44b2d</string>
	<key>STORAGE_BUCKET</key>
	<string>test-44b2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796331737687:ios:84f3f69838e66820545912</string>
</dict>
</plist>